/*estructura principal*/
.tarea-formulario{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
/*campo de texto*/
.tarea-input{
    width: 350px;
    font-size: 18px;
    background-color: white;
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 apx;
    border: 2px solid red;
    outline: none;
}
/*boton de agregar*/
.tarea-boton{
    padding: 16px;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    outline: none;
    background-color: rgb(0, 0, 0);
    color: #fff;
    text-transform: capitalize;
}